<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login to predict</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
    <style>
        body {
background-color: #0000;
}
    </style>
	<div class="container">
		<h1 class="label">User Login</h1>
		<form class="login_form" action="/prediction.html" method="post" name="form" onsubmit="return validated()">
			<div class="font">Email or Phone</div>
			<input autocomplete="off" type="text" name="email">
			<div id="email_error">Please fill up your Email or Phone</div>
			<div class="font font2">Password</div>
			<input type="password" name="password">
			<div id="pass_error">Please fill up your Password</div>
			<button type="submit">Login to predict</button>
		</form>
		<form class="login_form" action="index.html">
         <button type="submit">Home</button>
      </form>
      <form class="login_form" action="register.html">
         <button type="submit">To register</button>
      </form>
	</div>	
	<script src="valid.js"></script>
</body>
</html>